<div class="container-fluid">
    <!--HEADER-->
    <div class="inner-page-header">
        <div class="page-title">
            <h2>Properties</h2>
        </div>
        <div class="page-tools">
            <ul class="nav nav-pills">
                <li><i class="fa fa-file-code-o"></i></li>
                <li id="fa-quaetion"><i class="fa fa-question-circle"/></i></li>
                <li id="fa-download"><i class="fa fa-download"/></i></li>
                <li><i class="fa fa-upload"/></i></li>
            </ul>
        </div>
    </div>

    <!--PANELS-->
    <div class="inner-page-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="properties" class="jumbotron">
                        <h1>Properties page</h1>
                        <p>This page will contain all properties that have to be set</p>
                        <p>The implementation will be provided soon</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">Try what is ready</a></p>
                    </div>
                </div>
            </div>

            <!--CURRENCY TABLE-->
            <!--<div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <table class="table table-hover table-striped table-condensed">
                        <thead>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Min</th>
                            <th>Max</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="currency in currencies | filter:query">
                                <td>{{currency.curname}}</td>
                                <td>{{currency.curtype}}</td>
                                <td>{{currency.curmin}}</td>
                                <td>{{currency.curmax}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs"
                                            ng-click="deleteCurrency(currency.id)">Delete <span
                                            class="fa fa-remove"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>-->

            <!--DEMO PANELS-->
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-body" style="height: 200px;">
                            Basic panel example
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-body" style="height: 200px;">
                            Basic panel example
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-danger">
                        <div class="panel-body" style="height: 200px;" >
                            <div class="container-fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="panel panel-warning">
                        <div class="panel-body" style="height: 150px;">
                            Basic panel example
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="panel panel-warning">
                        <div class="panel-body" style="height: 150px;">
                            Basic panel example
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="panel panel-warning">
                        <div class="panel-body" style="height: 150px;">
                            Basic panel example
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>