<div class="container-fluid">
    <!--HEADER-->
    <div class="inner-page-header">
        <div class="page-title">
            <h2>Game Currencies Configuration</h2>
        </div>
        <div class="page-tools">
            <i class="fa fa-file-code-o"/>
            <i class="fa fa-question-circle"/>
            <i class="fa fa-download"/>
            <i class="fa fa-upload"/>
        </div>
    </div>
    <!--PANELS-->
    <div class="inner-page-content">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Basic panel example
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Basic panel example
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>